#sel {
    position: relative;
    font-family: Arial;
    padding: 4px;
    border: 3px solid black;
    border-radius: 5px;
    width: 200px;
    font-size: 20px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#value {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: bold;
}
#play{
    position: absolute;
    width: 1000px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
    color:#800080;
    
}
#play1{
    position: absolute;
    width: 1000px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
    font-style: bold;
    color:#800080;
    
}
#play2
{
    font-size: 23px;
    font-style: bold;
    position: absolute;
    width: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#800080;
}
#play3
{
    position: absolute;
    width: 1000px;
    top: 55%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 23px;
    font-style: bold;
    color:#800080;

}
#play4
{
    position: absolute;
    width: 1000px;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 23px;
    font-style: bold;
    color:#800080;

}
#play5
{
    position: absolute;
    width: 1000px;
    top: 65%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 23px;
    font-style: bold;
    color:#800080;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#hide
{
    position: absolute;
    width: 200px;
    height:50px;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    font-style: bold;
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;

}
#correct
{
    position: absolute;
    width: 200px;
    height:55px;
    top: 60%;
    left: 65%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-style: bold;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
#getcorrect
{
    position: absolute;
    width: 200px;
    height:50px;
    top: 85%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-style: bold;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}


#play6
{
    position: absolute;
    width: 1000px;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 23px;
    font-style: bold;
    color:#800080;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h1 {
    font = "italic bold 20px arial,serif"
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}